@model IEnumerable<Project>
@{
    ViewData["Title"] = "Home Page";
}
@using portfolio4.Models;


<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/screen.css">

</head>
<body>
    <header>

        <div class="opaque">
            <div class="speech1">
                <img class="logo" src="/images/logo.png" alt="Logo" width="200"/>
                <ul class="list">
                    <li>DotNet Development</li>
                    <li>Web Development</li>
                    <li>Software Development</li>
                    <li>Game Development</li>
                </ul>
            </div>
            <div class="carouselMover">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="http://octodex.jefflongo.surge.sh/">
                                <img src="/images/octodex.png" alt="First Slide" width="550">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://portfolio.jefflongo.surge.sh/">
                                <img src="/images/port.png" alt="Second Slide" width="550">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://stackoverclone.gear.host/">
                                <img src="/images/stack.png" alt="Third Slide" width="550">
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/redditTakeTwo">
                                <img src="/images/reddit.png" alt="Fourth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/Roll-A-Ball">
                                <img src="/images/rollaball.jpg" alt="Fifth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/tiyMovieRental">
                                <img src="/images/movie.png" alt="Sixth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/bootStrap">
                                <img src="/images/sports.png" alt="Sixth Slide" width="550" />
                            </a>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <img class="face1" src="/Images/face.jpg">
        </div>

    </header>

    <div class="containerContainer2">
        @foreach (var project in Model)
        {
            <div class="projectContainer">
                <div class="projects">
                    <a href="@project.projectImage" id="pop">
                        <img id="imageresource" src="@project.projectImage" alt="@project.Name" height="75" width="100">
                    </a>
                    <a href="@project.gitUrl">
                        <h5>@project.Name</h5>
                    </a>
                    @if (project.liveUrl == null)
                {
                        <h6>Not Hosted</h6>
                    }
                    else
                    {
                        <a href="@project.liveUrl">Live</a>
                    }
                </div>
            </div>
        }
    </div>

    <div class="connect">
        <h1>Connect with me!</h1>
    </div>
    <div class="connectlogos">
        <a href="https://twitter.com/JeffsTechJobs"><img src="/images/twitterlogo.png" alt="Twitter" height="50"></a>
        <a href=@Html.Raw("https://medium.com/@jefflongo")> <img src="/images/mediumlogo.png" alt="Medium Blog" height="50"></a>
        <a href="https://www.linkedin.com/in/jeffplongo"> <img src="/images/linkedinlogo.png" alt="LinkedIn" height="50"></a>
    </div>

    



</body>
</html>
