@model IEnumerable<Project>
@{
    ViewData["Title"] = "Home Page";
}
@using portfolio4.Models;


<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/Site.css">

</head>
<body>
    <header>

        <div class="opaque">
            <div class="speech1">
                <div class="words">
                    <div>
                        DotNet Development
                    </div>
                    <div>
                        Web Development
                    </div>
                    <div>
                        Software Development
                    </div>
                    <div>
                        Game Development
                    </div>
                    <div>
                        Squirrels
                    </div>

                </div>

            </div>
            <div class="carouselMover">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-slide-to="6"></li>
                        <li data-target="#myCarousel" data-slide-to="7"></li>
                        <li data-target="#myCarousel" data-slide-to="8"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="http://octodex.jefflongo.surge.sh/">
                                <img src="/images/octodex.png" alt="First Slide" width="550">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://portfolio.jefflongo.surge.sh/">
                                <img src="/images/port.png" alt="Second Slide" width="550">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://stackoverclone.gear.host/">
                                <img src="/images/stack.png" alt="Third Slide" width="550">
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/redditTakeTwo">
                                <img src="/images/reddit.png" alt="Fourth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/Roll-A-Ball">
                                <img src="/images/rollaball.jpg" alt="Fifth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/tiyMovieRental">
                                <img src="/images/movie.png" alt="Sixth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/bootStrap">
                                <img src="/images/sports.png" alt="Seventh Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/corgi">
                                <img src="/images/corgi.png" alt="Eighth Slide" width="550" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="https://github.com/jeffreylongo/corgi">
                                <img src="/images/ve.png" alt="Ninth" width="550" />
                            </a>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="faceMover">
                <img class="face1" src="/Images/face.jpg">
            </div>
        </div>
    </header>

    <div class="finalProject">
        <div class="corgiPic">
            <a href="http://vaupelelectric.gear.host">
                <img src="/Images/ve.png" alt="Vaupel Electric" height="200" />
            </a>
        </div>
        <div class="corgiWords">
            <a href="http://vaupelelectric.gear.host"><h2>Vaupel Electric</h2></a>
            <h4>
                This is a site I am developing for a local electrician in Sarasota. It is an ASP.NET MVC framework site, including an inline webmail form and a dynamic SQL database containing the sites content. 
            </h4>
        </div>
    </div>

    <br />
    
    <div class="finalProject">
        <div class="corgiPic">
            <a href="http://www.corginews.com">
                <img src="/Images/corgi.png" alt="Corgi" height="200" />
            </a>
        </div>
        <div class="corgiWords">
            <a href="http://www.corginews.com"><h2>Corgi</h2></a>
            <h4>Corgi is an aggregated news site concept I am working on. The goal of Corgi is to essentially herd similar news stories
            from multiple sources in order to provide it's users with a variety of viewpoints on the same story in order to come to an 
            educated conclusion on their own, ultimately creating a well-rounded, less polarized audience.</h4>
        </div>
    </div>

    <div class="containerContainer2">
        @foreach (var project in Model)
        {
            <div class="projectContainer">
                <div class="projects">
                    <a href="@project.projectImage" id="pop">
                        <img id="imageresource" src="@project.projectImage" alt="@project.Name" height="130" width="175">
                    </a>
                    <a href="@project.gitUrl">
                        <h5>@project.Name</h5>
                    </a>
                    @if (project.liveUrl == null)
                {
                        <h6>Not Hosted</h6>
                    }
                    else
                    {
                        <a href="@project.liveUrl">Live</a>
                    }
                </div>
            </div>
        }
    </div>

    <div class="connect">
        <h1>Connect with me!</h1>
    </div>
    <div class="connectlogos">
        <a href="https://twitter.com/JeffsTechJobs"><img src="/images/twitterlogo.png" alt="Twitter" height="50"></a>
        <a href=@Html.Raw("https://medium.com/@jefflongo")> <img src="/images/mediumlogo.png" alt="Medium Blog" height="50"></a>
        <a href="https://www.linkedin.com/in/jeffplongo"> <img src="/images/linkedinlogo.png" alt="LinkedIn" height="50"></a>
        <a href="https://github.com/jeffreylongo"> <img src="/images/githubLogo.png" alt="GitHub" height="50"></a>
    </div>





</body>
</html>
